
<!-- Vista HTML que se muestra como respuesta a metodo HTTP -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmpreNet | Verificación</title>
    <link rel="icon" href="https://cdn.emprenet.work/Favicons/NetFavicon.svg" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 dark:bg-black text-gray-900 dark:text-white font-sans min-h-screen flex items-center justify-center">
    <main class="max-w-xl text-center p-8 bg-white dark:bg-gray-900 shadow-xl rounded-2xl border dark:border-white/10">
      <img src="https://cdn.emprenet.work/Icons/png/Favicon_EmNet.png" alt="Logo" class="mx-auto w-28 dark:invert mb-6" />
      
      <h1 class="text-2xl font-bold mb-4">
        <%= title %>
      </h1>
      <p class="text-base text-gray-700 dark:text-gray-300 mb-6 max-w-md mx-auto">
        <%= message %>
      </p>

      <a 
        href="https://emprenet.work" 
        class="inline-block mt-4 px-6 py-3 bg-black text-white text -sm font-semibold rounded-xl shadow-md hover:bg-neutral-800 hover:shadow-lg transition duration-300 ease-in-out"
      >
        Ir a EmpreNet.work →
      </a>
    </main>
  </body>
</html>
